@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<tr>
    <p>Title: @Model.Title</p>
    <p>EventDate: @Model.EventDate</p>
    <p>Description: @Model.Description</p>
    <p>HostedBy: @Model.HostedBy</p>
    <p>ContactPhone: @Model.ContactPhone</p>
    <p>Address : @Model.Address</p>
    <p>Country: @Model.Country</p>
    <p>Longitude: @Model.Longitude</p>
    <p>Lattitude: @Model.Lattitude</p>
</tr>