@using PagedList 
@using System.Web.Helpers
@model PagedList.IPagedList<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Nerd Dinner Home";
}

<h2>Upcomming dinners</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            EventDate
        </th>
    </tr>

    @for (int i = 0; i < Model.PageSize; i++)
    {
        <tr>
            <td>
                @Html.ActionLink(Model[i].Title, "Details", new { id = Model.First().DinnerId })
                @*            <a href="Details/@item.DinnerId/">
                @Html.DisplayFor(modelItem => item.Title)
            </a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.First().EventDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = Model[i].DinnerId }) ;
                @if(Model[i].HostedBy==(Context.User.Identity.Name))              
                {  
                     Html.ActionLink("Edit", "Edit", new {id = Model[i].DinnerId});
                 
                     Html.ActionLink("Delete", "Delete", new {id = Model[i].DinnerId});
                  }
                
            </td>
        </tr>
    }
</table>

@if(Model.HasPreviousPage)
{
    @Html.RouteLink("<<< Previous Page","UpcomingDinners",new {page = (Model.PageNumber - 1)});
}

@if(Model.HasNextPage)
{
    @Html.RouteLink("Next Page >>>","UpcomingDinners",new {page = (Model.PageNumber + 1)});
}
